<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <section id="createProduct">
                    <ul class="erroresProduct"></ul>
                    <br> <% if (locals.errors && locals.errors.length > 0) { %>
                        <div class="text-dangerMsg">
                          <ul>
                            <% locals.errors.forEach((error) => { %>
                              <li><%= error %></li>
                            <% }); %>
                          </ul>
                        </div>
                      <% } %>
                    <form class="form-create" action="create" method="post" enctype="multipart/form-data">
                        <br>
                        <h2 class="crearproducto">Nuevo producto</h2><br>
                        <div><label for="Nombre del producto"></label>
                            <input type="text" name="nombreProducto" id="NombreProducto"
                                placeholder="Nombre del producto">
                                
                        </div><br>
                        <div class="crearproducto"><label for="Descripcion">Descripción del producto:</label><br>
                            <textarea class="crearproductoD" id="descripcion" name="descripcion" rows="4"
                                cols="50vw"></textarea>
                        </div>

                        <div class="crearproducto">
                            <h2 class="form">Categoría</h2>
                            <label for="id_categoria"></label>
                            <select class= 'categoria' id="id_categoria" name="id_categoria">
                                <% tipos.forEach(tipo => { %>
                                  <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
                                <% }); %>
                              </select></div>
                          
                            <br>
                            
                            <label class="labelPrecio" for="precio">Precio del producto:</label>
                            <input class='form' type="number" id="precio" name="precio" step="0.01"
                                ><br>
                            <div class="crearproducto"><label for="file">Imagen</label>
                                <input type="file" name="images" id="images" accept=".jpg, .png">
                             </div>


                            <button type="submit">Crear Producto</button>
                        </div>
                    </form>

                </section>


            </main>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/js/productCreateValidation.js"></script>
            
        </body>

    <%- include('../partials/footer.ejs')%>

</html>