<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <section id="editProduct">
                    <br>
                    <ul class="erroresProduct"></ul>
                    <br>
                    <form class="form-create" action="/product/edit/<%= combo.id %>?_method=put" method="post" enctype="multipart/form-data">
                        <br>
                        <h2 class="crearproducto">Editar Producto</h2><br>
                        <div><label for="Nombre del producto"></label>
                            <input value="<%=combo.name%>" type="text" name="nombreProducto"
                                id="nombreProducto" placeholder="Nombre del producto">
                        </div><br>
                        <div class="crearproducto"><label for="Descripcion">Descripción del producto:</label><br>
                            <textarea class="crearproductoD" id="descripcion" name="descripcion" rows="4"
                                cols="50vw"><%=combo.description%></textarea>
                        </div>
                        <div class="crearproducto"><label for="images">Imagen</label>
                            <input type="file" name="images" id="images" accept=".jpg, .png">
                            
                            <h2 class="form">Categoría</h2>
                            <label for="id_categoria"></label>
                            <select class= 'categoria' id="id_categoria" name="id_categoria" >
                                <% tipos.forEach(tipo => { %>
                                  <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
                                <% }); %>
                              </select>
                              <br>  
                            <label for="precio">Precio del producto:</label>
                            <input class='form' value="<%=combo.price%>" type="number" id="precio" name="precio" step="0.01"
                                ><br>


                            <button type="submit">Guardar Cambios</button>
                    </form>
                    
                    
                    
                    <form class="eliminar"action="/product/delete/<%=combo.id%>?_method=delete" method="post" >
                        <button type="submit"> Eliminar</button>
                  </form>
                    
                    
    
    
                        

                </section>


            </main>

            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/js/productEditValidation.js"></script>

    </body>
    <%- include('../partials/footer.ejs')%>

</html>