<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%><link rel="stylesheet" href="/css/productDetail.css">
<body>
    <%- include('../partials/header.ejs')%>
 <main>
    <section>
        <article>
            <% if (combo) { %>
          <h3 class="titular-detail"id='name'><%= combo.name %></h3>
          <p class="id"id='idProduct'><%= combo.id %></p>
          <img class="fotos" id='img'src="/images/products/<%= combo.images %>" alt='<%= combo.images %>'width=300>
          <p class="descripcion"id='descr'><%= combo.description %></p>
          <p class="precio">$ <span id='price'><%= combo.price %></p></span> 
      </article>
      <div><button type="submit" class="addCart">Agregar al carrito</button></a></div>
      </section>
      <% } else { %>
        <p>Producto no encontrado.</p>
    <% } %>
    </main>
    <script src='/js/agregarCarrito.js'></script>
</body>
  <%- include('../partials/footer.ejs')%>
</html>