<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%><link rel="stylesheet" href="/css/profile.css">
<body>
    <%- include('../partials/header.ejs')%>
 <main>
    <section>
        <article>
            <form action="/users/profile/<%- Usuario.id %>" method="get"> 
           <h3 class="saludo">Hola, <%= Usuario.name %></h3>
          <img class="fotos" src="/images/users/<%= Usuario.avatar %>" alt='<%= Usuario.name %>' >
          <p class="address"><%= Usuario.address %></p>
          <p class="mail"><%= Usuario.email %></p>
      </article>
      </form>
      </section>
          </main>
  
</body>
  <%- include('../partials/footer.ejs')%>
</html>
