<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <section class="registro" id="registro">
                    <ul class="errores"></ul>
                    <br>
                    <form class="form-login" action="register" method="post" enctype="multipart/form-data">
                       <br>
                        <h3 class="cuenta">Creá tu cuenta</h3>
                        <br>
                        <div><label for="Nombre y apellido"></label>
                        <input type="text" name="nombre" id="NombreApellido" placeholder="Nombre y Apellido">
                        </div>
                        <h4 class="form">Fecha de nacimiento</h4>
                        <div><label for="fecha"></label>
                            <input type="date" name="fecha" id="fecha">
                            <span class="feedback"></span>
                        <br>
                        </div>
                        <div><label for="Domicilio"></label>
                            <input type="text" name="address" id="address" placeholder="Domicilio">
                            <span class="feedback"></span>
                        </div><br><label for="Email"></label>
                            <input type="email" name="email" id="email" placeholder="Email">
                            <% if (locals.errors && errors.email) { %>
                                <div class = "text-danger">
                                   <%= errors.email.msg %>
                                </div>
                               <% } %>
                            <span class="feedback"></span>
                        </div>
                        <div class="crearproducto"><label for="file">Foto de perfil</label>
                            <input type="file" name="avatar" id="imagen" accept=".jpg, .png">
                        </div>
                        <div class="rol"><h2 class="form">Tipo</h2><br>
                            <label for="id_categoria"></label>
                            <select class= 'categoria' id="id_roles" name="id_roles" required>
                                <% roles.forEach(roles => { %>
                                  <option value="<%= roles.id %>"><%= roles.nombre %></option>
                                <% }); %>
                              </select></div>
                        <div><label for="Contrasenia"></label>
                            <input type="password" name="password" id="Contrasenia"
                                placeholder="Creá una contraseña">
                                <% if (locals.errors && errors.contraseña) { %>
                                    <div class = "text-danger">
                                       <%= errors.contraseña.msg %>
                                    </div>
                                   <% } %>
                            <span class="feedback"></span>
                        </div>
                        <div><label for="ConfirmarContrasenia"></label>
                            <input type="password" name="ConfirmarContrasenia" id="ConfirmarContrasenia"
                                placeholder="Confirmar contraseña">
                                <% if (locals.errors && errors.recontraseña) { %>
                                    <div class = "text-danger">
                                       <%= errors.recontraseña.msg %>
                                    </div>
                                   <% } %>
                        </div>
                        <div><button type="submit">Enviar</button>
                            <button type="reset">Cancelar</button>
                        </div>
                    </form>
                    <br>            
                </section>

            </main>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/js/usersRegisterValidation.js"></script>
    
        </body>
    
<%- include('../partials/footer.ejs')%>
</html>