<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

<body>
    <%- include('../partials/header.ejs')%>
        <main>
            <section class="crearUsuario">
                <form class="form-create" action="create" method="post" enctype="multipart/form-data">
                    <h3 class="usuario">Nuevo usuario</h3>
                    <div><label for="Nombre y apellido"></label>
                        <input type="text" name="nombre" id="Nombre y apellido"
                            placeholder="Nombre y Apellido">
                            <% if (locals.errors && errors.nombre) { %>
                                <div class = "text-danger">
                                   <%= errors.nombre.msg %>
                                </div>
                               <% } %>   
                        <span class="feedback"></span>
                    </div>
                    <h4 class="form">Fecha de nacimiento</h4>
                    <div><label for="fecha"></label>
                        <input type="date" name="fecha" id="fecha">
                        <span class="feedback"></span>
                    </div>
                    <h4 class="form">Domicilio</h4>
                    <div><label for="Domicilio"></label>
                        <input type="text" name="address" id="address" placeholder="Domicilio">
                        <span class="feedback"></span>
                    </div>
                    <div class="crearUsuario"><label for="file">Foto de perfil</label>
                        <input type="file" name="avatar" id="imagen" accept=".jpg, .png">
                    </div>
                    <h4 class="form">Categoria</h4>
                    <div><label for="Categoria"></label>
                        <input type="text" name="categoria" id="categoria" placeholder="Categoria">
                        <span class="feedback"></span>
                    </div>
                    <h4 class="form">Email</h4>
                    <label for="Email"></label>
                        <input type="email" name="email" id="email" placeholder="Email">
                        <% if (locals.errors && errors.email) { %>
                            <div class = "text-danger">
                               <%= errors.email.msg %>
                            </div>
                           <% } %>
                        <span class="feedback"></span>
                    <h4 class="form">Contraseña</h4>
                    <div><label for="Contrasenia"></label>
                        <input type="password" name="password" id="Contrasenia"
                            placeholder="Creá una contraseña">
                            <% if (locals.errors && errors.contraseña) { %>
                                <div class = "text-danger">
                                   <%= errors.contraseña.msg %>
                                </div>
                               <% } %>
                        <span class="feedback"></span>
                    </div>
                    <div><label for="ConfirmarContrasenia"></label>
                        <input type="password" name="ConfirmarContrasenia" id="ConfirmarContrasenia"
                            placeholder="Confirmar contraseña">
                            <% if (locals.errors && errors.recontraseña) { %>
                                <div class = "text-danger">
                                   <%= errors.recontraseña.msg %>
                                </div>
                               <% } %>
                    </div>
                    <div><button type="submit">Crear</button>
                    </div>
                </form>

            </section>

        </main>
        
</body>
    <%- include('../partials/footer.ejs')%>

</html>