<!DOCTYPE html>


<html lang="en">
    <%- include('../partials/head.ejs')%><link rel="stylesheet" href="/css/usersEdit.css">


    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <section id="editarUsuario">
                        <br>
                        <h2 class="editarUsuario">Editar Usuario</h2>
                        <ul class="errores"></ul>
                        <br>
                        <form class="form-edit-users" action="/users/edit/<%- Usuario.id %>?_method=put" method="post">
                            <br>
                            <label class="subtitulosEdit" for="name"> Nombre del usuario</label>
                            <p><input type="text" name="name" id="name" value="<%= Usuario.name %>" ></p>
                            <label class="subtitulosEdit" for="birthday"> Fecha de nacimiento</label>
                            <p><input type="date" name="birthday" id="birthday" value="<%= Usuario.birthday %>" ></p>
                            <label class="subtitulosEdit" for="address"> Domicilio</label>
                            <p><input type="text" name="address" id="address" value="<%= Usuario.address %>" ></p>
                            <label class="subtitulosEdit" for="avatar"> Imagen</label>
                            <p><input type="file" name="avatar" id="avatar" accept=".jpg, .png" value="<%= Usuario.avatar %>" ></p>    
                            <label class="subtitulosEdit" for="password">Modificar contraseña</label>
                            <p><input type="password" name="password" id="Contrasenia"  value="<%= Usuario.password %>"  ></p>
                            <label class="subtitulosEdit" for="confirmPassword">Confrimar contraseña</label>
                            <p><input type="password" name="confirmPassword" id="confirmarContrasenia" value="<%= Usuario.password %>"  ></p>
                    
                            <br>
                            <button class="guardarEditUser" type="submit">Guardar Cambios</button>
                            <button class="eliminarUser"action="/users/delete/<%= Usuario.id%>?_method=delete" method="post" type="submit"> Eliminar</button>
                  </form>
           
                </section>

            </main>

            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/js/usersEditValidation.js"></script>
            
    </body>

    <%- include('../partials/footer.ejs')%>


</html>