<!DOCTYPE html>


<html lang="en">
    <%- include('../partials/head.ejs')%><link rel="stylesheet" href="/css/usersEdit.css">


    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <section>
                        <br>
                        <h2 class="editarUsuario">Editar Usuario</h2>
                       
                        <form action="/users/edit/<%- Usuario.id %>?_method=put" method="post">
                            <br>
                            <label class="subtitulosEdit" for="name"> Nombre del usuario</label>
                            <p><input type="text" name="name" id="name" value="<%= Usuario.name %>" ></p>
                            <label class="subtitulosEdit" for="birthday"> Fecha de nacimiento</label>
                            <p><input type="date" name="birthday" id="birthday" value="<%= Usuario.birthday %>" ></p>
                            <label class="subtitulosEdit" for="address"> Domicilio</label>
                            <p><input type="text" name="address" id="address" value="<%= Usuario.address %>" ></p>
                            <label class="subtitulosEdit" for="avatar"> Imagen</label>
                            <p><input type="file" name="avatar" id="avatar" accept=".jpg, .png" value="<%= Usuario.avatar %>" ></p>    
                            <br>
                            <button class="guardarEditUser" type="submit">Guardar Cambios</button>
                            <button class="eliminarUser"action="/users/delete/<%= Usuario.id%>?_method=delete" method="post" type="submit"> Eliminar</button>
                  </form>
           
                </section>




            </main>


    </body>
    <%- include('../partials/footer.ejs')%>


</html>